# 1.변수(Vairable)
   + 임시 기억(저장) 공간
   + 별도의 절차없이(선언없이) 사용가능
   + DataType을 가리지 않는다.
   + 값을 수정할 수 없음(수정X -> 참조)

변수 : 데이터를 임시로 저장하는 공간 (교재 p.107)

자격증 : 정보처리기사 기능사 산업기사 준비

파이썬 : Major(자바,C,C++)언어 보다 빠르게 수정,작업가능

Markdown : 전체적인 문서화 / 주석# : 부연 설명

In [58]:
# 별도의 절차없이 사용가능
a = 10
a

a = 20
a

var1 = 30
var1

a = 3.14
a

a = "파이썬"
a

'파이썬'

In [48]:
# DateTpye을 가리지 않는다.
a = 10
print(a)
print(type(a))

a = 3.14
print(a)
print(type(a))

a = "홍길동"
print(a)
print(type(a))

10
<class 'int'>
3.14
<class 'float'>
홍길동
<class 'str'>

In [40]:
# 값을 수정할 수 없다
# 주소를 따로 저장함(참조)-> 수정이 아니라 새로운 값이 추가 되서 그 위치를 새롭게 받은 것일 뿐이다.
                                                                       # Garbage ->  메모리의 낭비  
a = 10 #참조
print(a)
print(id(a))

a = 11
print(a)
print(id(a))

a = 10 # 재할당받음
print(a)
print(id(a))

10
140704639460016
11
140704639460048
10
140704639460016

## 자료형(Date Type)
   
   + 종류 :
    - 기본 자료형  (수정 불가: immutable)
        * Number(숫자형) : int(정수형), float(실수형)
        * 문자형 : str 
        * 논리형 : bool (True or False) 
        * 그 외 : complex, function
        * 단일 데이터를 저장
        
    - 집합(iter) 자료형
        * list
        * tuple
        * dict
        * set

In [1]:
# 문자열 

a = 'a'
a = 'ab'
a = 'abc'
a = '10'
a =  'a'+'b'                                       #문자열 + 숫자열 = X
a =  'a'+str(10)                                   #str() : 숫자를 문자로 바꿔주는 함수 
print(a)

print("----------------------")

a = 'abcdefg'
a = a + 'hijklmn' 
print(a)

b ="""abcdefg      
hijklmb
opqrstu"""                                         #""" """ = 여러 줄의 문자를 표현가능하게 함
print(b)

print("----------------------")

# 특수 문자 (제어 문자) : \문자                    -교재p.48    
# 이스케이프 문자 : \ (역슬레쉬) \ + 특수문자 = 평범한 문자로 돌아

a = "안녕하세요. \n반갑습니다."                    # \n = 문자열 안에 줄을 바꿀 때 사용 
print(a)

b = "안녕하세요. \t반갑습니다."                    # \t = 문자열 사이에 tab 간격을 줄 때 사용 
print(b)

c = "\\t는 탭키의 기능입니다."
print(c)

# "\n은 엔터키 기능이다."

a = "\"\\n은 엔터키 기능이다.\""                    # ""('') 역시 특수문자 이기 때문에 \를 삽입하여 이스케이프 시키자
print(a)                            
                                                    # Document : python.org documentation 참고

a10
----------------------
abcdefghijklmn
abcdefg
hijklmb
opqrstu
----------------------
안녕하세요.
반갑습니다.
안녕하세요. 	반갑습니다.
\t는 탭키의 기능입니다.
"\n은 엔터키 기능이다."

In [77]:
# Indexing : 내가 원하는 문자의 위치를 찾아내는 기능

a = "Life is too short, You need Python"
print(a[10])                                        # Python은 0부터 숫자를 센다
print(a[-1])                                        # - 숫자 = 문자열 끝에서 부터 index를 찾음
print(a[33])
print(a[-2])
print(a[8], a[9], a[10])                            
print(a[8] + a[9] + a[10])                          # 문자열을 연산자 + 를 이용하면 한문자로 출력

# Slicing : 구간을 잘라서 출력시키는 것 (indexing을 확장한 방식)

print(a[0:4])      # 0 <= x < 4 0이상4미만          # a[시작번호:끝번호]를 사용하여 구간으로 출력
print(a[8:11])
print(a[:4])                                        # 시작위치(0)를 생략하면 처음(0)부터 출력
print(a[8:])                                        # 마지막 위치를 생략하면 선택한 곳부터 문자열 끝까지 출력
print(a[-3:-1])

o
n
n
o
t o o
too
Life
too
Life
too short, You need Python
ho

In [88]:
# 수정 불가
str1 = "pithon"
#str1 = "python"                                    # 수정이 아니라 새로운 데이터가 또하나 생성된 것 
#str[1] = "y"                                       # 수정 불가능하여 에러
str2 = str1[:1] + "y" + str1[2:]                    # 긴 문자열을 수정할 때 
print(str2)

python

In [174]:
# len(), count(), find(), Index(), join(), split(), ......          -교재p.67

# len()
a = "Life is too short, You need Python"

print(len(a))                                       # len() : 변수의 글자수를 세는 함수 
print(a[len(a)-1])                                                    
print(a[-1])                                        # len()함수 외는 모두 문자열만을 취하기 때문에 사용법이 다름

print("-----------------------------------------------------------------------")

# count()
print(a.count("o"),a.count(' '))                    # a = 객체(데이터를 저장하는 실제장소) / a.count('') : 특정문자의 숫자를 찾는 함수  

print("-----------------------------------------------------------------------")

# finf()
print(a.find('Python'), a.find("java"))             # a.find('') : 문자열을 찾을 때, 찾지 못했을 땐 '-1'

print("-----------------------------------------------------------------------")

# index()
print(a.index("Python"))                            # a.index('') : 문자열을 찾을 때, 찾지 못했을 땐 '에러'
# print(a.index("java"))

print("-----------------------------------------------------------------------")

# jion()
str1 = "abcdefg"                                    
str2 = (",".join(str1))                             # ('').join(str) : 각각의 데이터를  join함수로 구분 
print(str2)

print("-----------------------------------------------------------------------")

# split()
print(str1[0],str1[1],str1[2])                      # ('').split('기준') : 기준을 정하여 데이터를 출력 (원하는 문자열을 쪼개 낼 때 유용)
print(str2.split(","))

print("-----------------------------------------------------------------------")

str3 = "홍길동 임꺽정 신돌석 유비 관우 장비"        # 하나의 데이터를 6개짜리의 데이터로 쪼개고 싶음
print(str3.split(" "))                              # 단어들이 공백으로 구분되어 있으므로 split()함수를 사용하여 뽑아냄

print("-----------------------------------------------------------------------")

# 공백제거  : lstrip(), rstrip(), strip()           :  중간의 공백은 제거 불가
str1 = "                     python         "       # str1.lstrip() : 왼쪽공백제거
print(str1+'end')                                   # str1.rstrip() : 오른쪽공백제거
print(str1.lstrip()+'end')                          # str1.strip() : 양쪽공백제거
print(str1.rstrip()+'end')
print(str1.strip()+'end')

str2 = '?!.python'
print(str2.lstrip("?!."))                           # str2.lstrip(""): 양쪽 원하는 문자("")도 제거 가능

print("-----------------------------------------------------------------------")

# 바꾸기 : replace(), {maketrans(), traslare()}    : 특정 단어들을 내가 원하는 단어로 바꿀때 사용

str1 = """Hello, World!  
    World is fantasy"""

str2 = str1.replace("World","Python")              # str1.replace("본문단어","바꿀단어")
print(str2)

str3 = "일이삼사오육칠팔구"                        # maketrans( ,maketrans("본문","바꿀거")) : 본문 중에서 무언가로 하나하나 바꾸고 싶을 때
print(str3.translate(str3.maketrans("일삼오","135")))
print(str3.translate(str3.maketrans("오칠구","579")))

34
n
n
-----------------------------------------------------------------------
5 6
-----------------------------------------------------------------------
28 -1
-----------------------------------------------------------------------
28
-----------------------------------------------------------------------
a,b,c,d,e,f,g
-----------------------------------------------------------------------
a b c
['a', 'b', 'c', 'd', 'e', 'f', 'g']
-----------------------------------------------------------------------
['홍길동', '임꺽정', '신돌석', '유비', '관우', '장비']
-----------------------------------------------------------------------
                     python         end
python         end
                     pythonend
pythonend
python
-----------------------------------------------------------------------
Hello, Python!
    Python is fantasy
1이3사5육칠팔구
일이삼사5육7팔9

In [12]:
# 포매팅 : format(), %             -교재 p.57     추가내용 : 교재 p.63-64

"덧셈 결과 : 3 + 4 = 7"

num1 = 3
num2 = 4
num1,num2 = 5, 10                                   # 한줄로도 변수 할당 가능 (파이썬 문법)
                                                    # {} = place holder 자리만 잡아준다. 누가 올 것을 표시한다.
print("덧셈 결과 : {0} + {1} = {2}".format(num1, num2, num1+num2))      # .format()    -교재 p.62
print("덧셈 결과 : {} + {} = {}".format(num1, num2, num1+num2))      
print("덧셈 결과 : {1} + {1} = {1}".format(num1, num2, num1+num2))      # 특정한 값을 특정한 위치에 사용할 때 index를 사용함

print("덧셈 결과 : %d + %d = %d" %(num1, num2, num1+num2))              #  %( , , , )  -교재 p.59

덧셈 결과 : 5 + 10 = 15
덧셈 결과 : 5 + 10 = 15
덧셈 결과 : 10 + 10 = 10
덧셈 결과 : 5 + 10 = 15

---

# Tip : jupyter 테마 변경하기
  
     https://github.com/dunovank/jupyter-themes  
   * DOS 창에서 명령어 입력
   * pip install jupyterthemes:  (jt -t Chesterish)

---

### list 

   + 임의의 객체를 순차적으로 저장하는 집합적 자료형
   + 각 값에 대해서 인덱스가 부여됨
   + 수정이 가능함
   + []를 사용

In [13]:
#각 값에 대해서 인덱스가 부여됨
n1 ,n2 ,n3 ,n4, n5 = 1 ,3 ,5 ,7 ,9
n= [1, 3, 5, 7, 9]

print(type(n1))
print(type(n))
print(n[0],n[1],n[2])                               # list는 값이 하나로 묶여있기 때문에 index를 써야한다.

<class 'int'>
<class 'list'>
1 3 5

In [34]:
a =[10, 20, 3.14, True, False, "홍길동"]           # 서로 다른 자료형도 하나로 묶을 수 있다.
print(a)

[10, 20, 3.14, True, False, '홍길동']

In [35]:
# 수정 가능
a[1] = 200
print(a)

[10, 200, 3.14, True, False, '홍길동']

In [52]:
# indexing  : 특정 위치에 접근하기 위한 방법
a =[10, 20, 3.14, True, False, "홍길동"]
print(a)                                            # 데이터를 꺼내오는 것이 아니다. 
print(a[0], a[1], a[2])                             # 연속된 주소이기때문에 첫 주소만 알면된다.->index만 알면 접근가능

b = [10, 20, 30, ['a', 'b', 'c']]                   #list 안에 list 저장(복잡한 데이터도 처리 가능)
print(b[0],b[3]) 
print(b[3][1])                                      

# Slicing 
print(a[1:5]) 
print(a[1:5][1])

# b에 있는 데이터들 중에서 'b'와 'c'를 꺼내서 출력
print(b[3][1:3])
print(b[3][1:])
print(b[3][1],b[3][2])

[10, 20, 3.14, True, False, '홍길동']
10 20 3.14
10 ['a', 'b', 'c']
b
[20, 3.14, True, False]
3.14
['b', 'c']
['b', 'c']
b c

In [60]:
# 리스트 연산        -교재 p.77
a =[1, 2, 3]
b =[4, 5, 6, 7, "홍길동"]

print(a + b)                                       # 리스트 더하기 (연결O, 덧셈X)

print(a*3)                                         # 리스트 곱하기 (반복O, 곱셈X)

[1, 2, 3, 4, 5, 6, 7, '홍길동']
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [70]:
# 리스트 복사 (얕은 복사 / 깊은 복사)       -교재 p.109
a =[1, 2, 3, 4, 5]                                # 데이터 주소만 저장(파이썬) : 실제 데이터를 변화 시키지 않음 
b = a                                             # 얕은 복사 : 하나의 데이터 주소값만 할당함 
b[0] = 10                                                
print(a)                                          # a 에서 작업한 것이 b에서도 변함
print(b)

print("-------------------------------------------------------")

c = a[:]                                          # 깊은 복사 : 새로운 데이터를 똑같이 복사해서 c에게 주소값을 넘겨줌 
c[0] = 100                                        # [:] : 전체데이터를 slicing 
print(a)                                          # copy 모듈 사용 (추후에 사용)
print(b)                                        
print(c)                                          # a와 b는 변함없이 c만 단독적으로 변함

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
-------------------------------------------------------
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [84]:
# 리스트 만들기 
a = [1, 2, 3, 4]
a1 = []                                          # 리스트 형태만 만들고 나중에 데이터 추가하기 위함
a2 = list()                                      # <a = []> = <a = list()>
print(type(a),type(a1),type(a2))

a = list(range(10))                              # range() = 데이터 자동생성 함수 
print(a)

print(range(10))        # => 주소값      list(range(10)) => 실제 데이터 꺼내옴
print(list(range(5,12)))
print(list(range(0,11,2)))                       # list(range(시작위치, 끝위치, 증가단위))

<class 'list'> <class 'list'> <class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10)
[5, 6, 7, 8, 9, 10, 11]
[0, 2, 4, 6, 8, 10]

In [97]:
# 데이터 삽입, 추가     - insert(), append(), extend()

a = []                     
a.append(10)                                    # a.append() : 리스트 가장 끝자리에 추가 
a.append(20)
a.append(30)
print(a)

a.insert(0,5)                                   # a.insert(자리,숫자) : 원하는 자리에 추가 
print(a)
a.insert(2,15)
print(a)

a.append([31,31,33])                            # 여러개를 추가할땐 반드시 list()로 묶어야 함
print(a)

a.extend([34, 35, 36])                          # a.extend() : 2차 리스트가 아닌 1차 리스트에 바로 추가
print(a)                                       

#a = a + [37, 38]                               # extend() 와 동일
a += [37, 38]           # => 더 간단한 표현 
print(a)

[10, 20, 30]
[5, 10, 20, 30]
[5, 10, 15, 20, 30]
[5, 10, 15, 20, 30, [31, 31, 33]]
[5, 10, 15, 20, 30, [31, 31, 33], 34, 35, 36]
[5, 10, 15, 20, 30, [31, 31, 33], 34, 35, 36, 37, 38, 37, 38]

In [113]:
# 정렬 기능                                     # 문법보다는 알고리즘이 더 중요
a = [1, 4, 3 , 2]
a.sort()                                        # a.sort() : 오름차순 자동정렬
print(a)

a.reverse()                                     # a.reverse() : 역순으로 정렬  / sort() + reverse() = 내림차순 정렬
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [115]:
# 리스트 삭제, 제거 

a = [1, 2, 3, 1, 2, 3]
a[1:3] = []                                     # 범위지정 삭제
print(a)

a = [1, 2, 3, 1, 2, 3]
a.remove(3)                                     # a.remove() : 처음으로 발견되는 데이터 삭제
print(a)

a = [1, 2, 3, 1, 2, 3]
del a[3]                                        #del a() : 메모리를 제거 (강력)
print(a)

a = [1, 2, 3, 1, 2, 3]
a[:]= [] 
print(a)

a = [1, 2, 3, 1, 2, 3]
del a                                           # a를 찾지 못 함 -> a를 메모리에서 완전히 지워버림
#print(a)

# pop() : Stack의 데이터는 삭제 하지만 삭제한 데이터를 사용 가능하게 한다
a = [1, 2, 3]
b= a.pop()
print(a)                                        # pop() : a는 삭제되나 b는 사용가능한 상태로 만드는 함수
print(b)

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 3, 2, 3]
[]
[1, 2]
3

In [118]:
# 리스트 검색 기능 

a= [1, 2, 3, 4, 5]                                                   
print(2 in a)                                   # in 연산자 하나만으로 검색을 할 수 있다.
print(6 in a)

True
False

## Tuple

   + list와 거의 동일
   + ()를 사용
   + 수정 불가

In [126]:
a = ('a','b','c','d')
print(a)
print(type(a))

# 수정불가
# a[0] = 'A' 
# print(a)

('a', 'b', 'c', 'd')
<class 'tuple'>

In [133]:
# 형 변환 

a = ('a', 'b', 'c', 'd')
print(type(a))

b = list(a)
print(type(b))

c = tuple(b)
print(type(c))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [147]:
# 자료형 함수
a = 10                                           # str(), int(), float(), bool() ...... 모두 형변환 가능
print(type(a))                                   # bool() 는 값이 존재 : True   값이 존재 하지 않음 : False
 
a = str(10)
print(type(a))

a = float(10)
print(type(a),a)

a = int(a)
print(type(a),a)

print(bool("Hello"),bool(10),bool([]),bool(""),bool(()),bool(None))    # bool(None) = "값이 없다"의 의미의 키워드

<class 'int'>
<class 'str'>
<class 'float'> 10.0
<class 'int'> 10
True True False False False False

In [157]:
# Packing, unpacking         -교재 p.85

a, b, c = 10, 20, 30     

a =  10, 20, 30   # Packing                         # 한가지 변수에 여러가지 값을 입력하느것 , 여러개의 데이터를 하나로 묶는 것
print(a)                                            # 수정시 list()로 변환하여 수정
print(type(a))

a1, a2, a3 = a
print(a1, a2, a3) # Unpacking

(10, 20, 30)
<class 'tuple'>
10 20 30

### Dict

   + 데이터 검색의 용도 (Key : Value 한 쌍으로 갖는 자료형)
   + {Key : Value}
   + 순서가 없다(인덱스가 없다.)

In [204]:
a = {'name':"홍길동","phone":"111-1111","age":25}
print(a)
print(type(a))

print("-------------------------------------------------------")

print(a['name'], a['phone'],a['age'])                # a.get()  / a[" "] : 검색 
print(a.get("name"),a.get("phone"),a.get("age"))                

print("-------------------------------------------------------")   

print(a.keys())                                      # a.keys : key들을 묶어서 보여줌 
print(a.values())                                    # a.values : value들을 묶어서 보여줌
print(a.items())                                     # a.items() : tuple로 묶어서 보여줌

b = a.items()
print(type(b))

c = list(a.items())
print(type(c))

print("-------------------------------------------------------") 

# 수정 기능
a["name"] = "임꺽정"
print(a)

print("-------------------------------------------------------") 

# 추가 기능
a["address"] = "서울시 강남구"
print(a)

print("-------------------------------------------------------") 

# 삭제 기능
del a["age"]
print(a)

a.clear()                                              # a.clear() : 메모리 삭제 X
print(a)

print("-------------------------------------------------------") 

a = dict(name = "홍길동", phone = "111-1111", age = 25)
print(a)

{'name': '홍길동', 'phone': '111-1111', 'age': 25}
<class 'dict'>
-------------------------------------------------------
홍길동 111-1111 25
홍길동 111-1111 25
-------------------------------------------------------
dict_keys(['name', 'phone', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('phone', '111-1111'), ('age', 25)])
<class 'dict_items'>
<class 'list'>
-------------------------------------------------------
{'name': '임꺽정', 'phone': '111-1111', 'age': 25}
-------------------------------------------------------
{'name': '임꺽정', 'phone': '111-1111', 'age': 25, 'address': '서울시 강남구'}
-------------------------------------------------------
{'name': '임꺽정', 'phone': '111-1111', 'address': '서울시 강남구'}
{}
-------------------------------------------------------
{'name': '홍길동', 'phone': '111-1111', 'age': 25}

### Set
   
   + {값, ......} 사용 
   + 순서가 없다(인데스가 없다) -> list나 tuple로 변환하여 사용
   + 중복을 불가

In [209]:
a ={1, 2, 3, 4 , 3, 2, 4}
print(a)                                              # 중복을 제거해줌
print(type(a))
#print(a[0])           ->인덱스가 없음

b = list(a)
print(b[0],b[1])

{1, 2, 3, 4}
<class 'set'>
1 2

In [217]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# 합집합          
print(s1.union(s2))                                   # s1.union(s2)

# 교집합
print(s1.intersection(s2))                            #s1.intersection(s2)

# 차집합
print(s1.difference(s2))                              # s1.difference(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [220]:
# 여러개 추가
s1.update({7, 8})                                     # s1.update({ , })     
print(s1)

# 한 개 추가
s1.add(9)                                             # s1.add( )
print(s1)

# 삭제 
s1.remove(8)                                          # s1.remove()
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 9}

In [223]:
a = [1, 2, 3, 2, 4, 6, 3, 2]
b = set(a)
print(b)

{1, 2, 3, 4, 6}

In [232]:
# 1. 수정 가능한 자료(list,dict,set) 와 수정 불가능한 자료 구분(나머지는 X)
# 2. 순서가 있는 자료형(list, dict,tuple, str)과 없는 자료형 (set)

---

###  연산자(Operator)                        
                                                    -교재 3장 p.~
                                                   

   1) 산술 연산자 
     
     :  + , -,  *, **(제곱근), /(몫),  %(나머지),  //(몫: 정수만) 
    
   2) 비교 연산자
     
     : >, <, >=, <= , ==, !=  
     
   3) 논리 연산자 (단락 회로 : 하나의 False라도 나온다면 회로를 끊음)
     
     : 이항 - and, or 
       단항(토글) - not : 반대로 바꿔주는 연산자
     
      a     b     a and b   a or b     a not b
      --------------------------------------------------------
      T     T     True      Ture       False      
      T     F     False     Ture       False
      F     T     False     Ture       Ture
      F     F     False     False      Ture
      
   4) 대입(치환, 할당) 연산자
     
     =, +=, *=, /=, %=, ...... 
     
   * 연산자를 사용할 때, 항상 ()를 쓰는 습관을 길러라. (언제나 간단 명료하게)
   
===============================================================================

   5) 포함 여부 연산자
   
       in     
       not in
    
   6) 비트 연산자   (단락 회로 연산기능이 없음) -> 어떤 경우는 논리연산자가 더 효율적
  
      &(     |     ^     ~     <<     >>   ......
      ---------------------------------------------------------
      and    or    xor
                 "캐럿"
                (exclusive)
                
      a   b   a^b                    
      -----------                
      T   T    F   서로 같은 값인 경우는 F              
      T   F    T   서로 다른 값인 경우만 T            
      F   T    T        (배타적) -> 데이터를 암호화 & 복호      
      F   F    F                               
                 
      2진수로 연산 -> 속도가 빠름 but 사람이 직관적으로 이해하기 힘듬
      진법 변환을 익혀야 사용가능 (10진수 -> 2진수, 2진수->10진수)

In [122]:
print(10 / 3)             # / : 나누기 연산자
print(10 % 3)             # % : + 나머지 값 출력
print(10 // 3)            # // :+ 나머지 값의 정수만 출력
print(2**10)              # ** :  제곱급 (2의 10승)

# 본래 컴퓨터는 실수 연산을 할 수가 없다. 
# 반드시 실수를 정의 할 때 정확한 소수점 자리수 / 반올림 여부 등 정책을 확실히 세우고 작업해야함 

print("---------------------------------------------------------")

print(100 > 200)
print(1000 != 1001) 

# 비교연산자의 결과같은 bool(ture/ false)만 나온다

print("---------------------------------------------------------")

a = 1                     # a에게 1의 값을 할당하겠다.
a = 2
a = 3
print(a)                  # 최종적으로 마지막의 값만 출력

b = 1   
b += 2        # b = b +2
b += 3      
print(b)

print("---------------------------------------------------------")

print(12>5 and 6<=3)
print(12>5 & 6<=3)

print(12 and 6)
print(12 & 6)                         # 10진수 -> 2진수 : 소인수 분해  12 = 1100
print(12 | 6)                         

print("---------------------------------------------------------")

password = 941126
key = 940516

encode = password^key                 # 암호화
print(encode)

decode = encode^key                   # 복호화
print(decode)

3.3333333333333335
1
3
1024
---------------------------------------------------------
False
True
---------------------------------------------------------
3
6
---------------------------------------------------------
False
False
6
4
14
---------------------------------------------------------
1442
941126

### 연습문제

1.

In [87]:

grade = [80 , 75, 55]

_sum = sum(grade)

print(_sum)
print(_sum/len(grade))

210
70.0

2.

In [143]:
# 자연수13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자.


num = int(input ("숫자를 입력하세요"))
if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

숫자를 입력하세요13
홀수입니다.

3.

In [25]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

4.

In [155]:
pin = "881120-1068234"
num = pin[7]

if num != 1:
    print("남자입니다.")

남자입니다.

5.

In [44]:
a = "a:b:c:d"
b = a.replace(\:,str
print(b)

SyntaxError: unexpected character after line continuation character (<ipython-input-44-e6581deeabe4>, line 2)

6.

In [15]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()

print(a)

[5, 4, 3, 2, 1]

7.

In [100]:
a = ["Life", "is", "too", "short"]
result = (" ").join(a)
print(result)

Life is too short

8.

In [70]:
a = (1, 2, 3)
a =  a + "4"
print(a)

TypeError: can only concatenate tuple (not "str") to tuple

9.

In [82]:
a = dict()
a[250] = 'python'
print(a)

{250: 'python'}

10.

In [15]:
a = {'A':90, 'B':80, "C":70}
result = a.pop("B")
print(a)
print(result)

{'A': 90, 'C': 70}
80

11.

In [110]:
a =[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

12.

In [1]:
a = b =[1, 2, 3]
a[1] = 4 
print(b)                            #  얕은 복사 : 같은 주소의

[1, 4, 3]

# 입력기능

In [158]:
name = input("당신의 이름은")
print("당신의 이름은",name,"입니다.")

당신의 이름은한성오
당신의 이름은 한성오 입니다.

In [164]:
num1 = input("첫번째 숫자?")
num2 = input("두번째 숫자?")

print("두수의 합: ",int(num1) + int(num2))   # 문자열을 정수형으로 바꿔야 함

첫번째 숫자?1
두번째 숫자?1
두수의 합:  2