# 데이터베이스 연동
---
## 1.파이썬과 MYSQL 활용

###        모듈 
                    1) mysqlclient, pymysql
                    2) pip install mysqlclient, pip install pymysql

###  MySQLclient 모듈 사용

In [ ]:
import MySQLdb

In [ ]:
# mysql 서버에 접속
conn = MySQLdb.connect(host="127.0.0.1", user ='root',password = '1111', database ='testdb')
print(conn)
conn.close()

In [ ]:
config= {'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}

conn= MySQLdb.connect(**config)
print(conn)
conn.close()

In [ ]:
# Select 
conn = MySQLdb.connect(**config)


sql ='Select empno, ename, sal, job, deptno From emp'
cur = conn.cursor()   # 명령어와 결과값을 들고오는 cursor
cur.execute(sql)  
#print(cur)
#print(type(cur))

#for data in cur:
    #print(data)
#    print("%d, %s, %d, %s, %d" %data) # unpacking 
    
for empno, ename, sal, job, deptno in cur:   #for 문 안에서 직접 unpacking
    print(empno, ename, sal, job, deptno)
    
    
conn.close()

In [ ]:
# Insert 

conn= MySQLdb.connect(**config)
cur = conn.cursor()

sql ='''Insert Into emp(empno, ename, sal, job, mgr, deptno, hiredate) 
    Values(1, 'tom', 700, 'clerk', 7788, 20, now())'''

cur.execute(sql)
conn.commit()

conn.close()

In [ ]:
conn= MySQLdb.connect(**config)
cur = conn.cursor()

v_empno = 5
v_ename = 'Johnson'
v_sal = 1500    
sql ='Insert Into emp(empno, ename, sal, hiredate) Values('+str(v_empno) + ",'" +\
    v_ename +"',"+ str(v_sal) +", now())"
print(sql)

cur.execute(sql)
conn.commit()
conn.close()

In [ ]:
conn= MySQLdb.connect(**config)
cur = conn.cursor()

v_empno = 10
v_ename = 'Jane'
v_sal = 2000    
sql ='Insert Into emp(empno, ename, sal, hiredate) Values(%s,%s,%s,now())'
sql_data = (str(v_empno),v_ename,str(v_sal))
print(sql)

cur.execute(sql,sql_data)
conn.commit()
conn.close()

In [ ]:
conn = MySQLdb.connect(**config)
cur = conn.cursor()

sql="delete from emp Where empno BETWEEN 1 AND 10"
print(sql)

cur.execute(sql)
conn.commit()
conn.close()

### PyMySQL

In [ ]:
import pymysql

In [ ]:
conn = pymysql.connect(host = '127.0.0.1', user= 'root', passwd='1111', db ='testdb',port =3306, charset='utf8')
print(conn)
conn.close()

In [ ]:
config = {"host": "127.0.0.1","user":"root","passwd":"1111","db":"testdb","port":3306,"charset":"utf8"}
conn =pymysql.connect(**config)
print(conn)
conn.close

In [ ]:
conn = pymysql.connect(**config)
cur = conn.cursor()

sql = '''
CREATE TABLE IF NOT EXISTS pythonTable(
    id    int    unsigned not null auto_increment,
    name    varchar(20)  not null,
    regdate   datetime,
    primary  key(id)
    );
'''

cur.execute(sql)
cur.execute('show tables')

for i in cur:
    print(i)
conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(**config)
try:
    cur = conn.cursor()

    sql ='''
         CREATE TABLE IF NOT EXISTS pythonTable(
            id    int    unsigned not null auto_increment,
            name    varchar(20)  not null,
            regdate   datetime,
        primary  key(id)
        );
        '''

    cur.execute(sql)
    conn.commit()

finally:
    conn.close()

In [ ]:
# CSV파일을 DB에 저장하기

'''
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);
'''

import csv
from datetime import  datetime 

conn = pymysql.connect(**config)
try:
    cur = conn.cursor()
    
    # 새로운데이터를 읽어서 저장하기 전에 이전의 데이터를 삭제 
    sql = "delete from suppliers"
    cur.execute(sql)
    conn.commit()
    
    file = csv.reader(open('data/input.csv'))
    #print(file)
    
    header = next(file)
    
    for row in file:  
          cur.execute("Insert Into suppliers VALUES(%s, %s, %s, %s, %s)",row)
   


    #for row in file:
    #   data = []
    #  for col in range(len(header)):
    #     if col == 4:
    #        tmp = datetime.strptime(row[col],'%Y-%m-%d')                           #strptime : 날짜를 문자열로 바꿔주는 함수
    #       data.append(tmp)
    #  else:
    #     data.append(row[col])
    
    #    cur.execute("Insert Into suppliers VALUES(%s, %s, %s, %s, %s)",data)
        
    conn.commit()
    
finally:
    conn.close()

In [ ]:
# DB에서 가져온 데이터를 CSV형식의 파일로 저장

conn = pymysql.connect(**config)
try:
    cur = conn.cursor()
    
    cur.execute('SELECT * FROM suppliers WHERE cost > 500000')
#     for i in cur:
#         print(i)
    file = csv.writer(open('data/output2.csv', 'w'), delimiter = ',')
    
    header = ['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
    file.writerow(header)
    
finally:
    conn.close()

---
#  2. 파이썬과 SQL Lite
---
        1. 로컬 DB : 네트워크 기능이 없는 DB
            - Access
            - SQL Lite
            - Microsoft SQL Server Compact Edition
            - Fire Bird Embeded Server
            - H2
            - HSQL
            - Apache Derby

        2. 특징
            1) 파일기반의 DBMS, 저메모리, 빠른 처리속도 
            2) 오픈 소스
            3) 별도의 DB서버가 없어도 쉽고 편리하게 사용할 수 있는 Embeded SQL DB 엔진
            4) 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB
            5) 표준 SQL 지원
            6) 파이썬의 내장
            __________________________________________
            7) 컬럼을 삭제하거나 변경하는 것 등이 제한
            8) Left OUT JOIN만 지원
            9) 읽기 전용 View만 제공
        
        3. 공식사이트 : http://sqlite.org
        
        4. 클라이언트 툴 
            - http://www.sqliteexpert.com

In [ ]:
# sqlliteexpert 를 이용해서 db 생성 :mysqllite.db  
    
"""
CREATE TABLE tblmember(
          id int,
          name varchar(10),
          regdate datetime
    
);
"""

"""
INSERT INTO tblmember values(1,'홍길동','2020-05-05');
INSERT INTO tblmember values(2,'임꺽정',date('now'));
"""

In [ ]:
import sqlite3

print(sqlite3.version)
print(sqlite3.sqlite_version)

In [ ]:
conn = sqlite3.connect('data/mysqllite.db')
print(conn)
cur = conn.cursor()
print(cur)
conn.close()

In [ ]:
# SELECT

conn = sqlite3.connect('data/mysqllite.db')
cur = conn.cursor()

cur.execute("Select * From tblmember")
for row in cur:
    print(row)


conn.close()

In [ ]:
# INSERT
conn = sqlite3.connect('data/mysqllite.db')
cur = conn.cursor()

cur.execute("Insert Into tblmember values(3,'나비',date('now'))")


conn.commit()
conn.close()

In [ ]:
# CSV 파일을 읽어서 DB에 저장
import csv

file =csv.reader(open("data/input.csv",'r').delimiter =',')
header = next(file)

conn= sqlite3.connect("data/mysqllite.db")
cur = conn.cursor()

for row in file:
    cur.execute("INSERT INTO suppliers Values(?,?,?,?,?)",row)
conn.commit()
conn.close()

In [ ]:
""" 연습문제
1) mysql의 emp테이블을 emp.csv로 저장

2) emp테이블을 이용해서 아래와 같은 프로그램
예시)
        1. mysql
        2. sqlite
        연결할 db의 종류 :
        
        연결할 주소와 계정을 입력: (mysql일 경우)
        주소 : xxx.xxx.xxx.xxx
        아이디 : xxx
        패스워드 : xxx
        
        메뉴 선택
        1. 조회
        2. 입력
        3. 수정
        4. 삭제
        메뉴 : 
    
"""

In [ ]:
# 메모리 DB 

conn = sqlite3.connect(":memory:")
cur = conn.cursor()
#print(cur)

cur.execute("CREATE TABLE phonebook(name text, phounnum varchar(20));")             
cur.execute("INSERT INTO phonebook VAlues(?,?);",("TOM","010-111-1111"))

In [ ]:
cur.execute("Select *from phonebook")
for i in cur.fetchmany(5): 
    print(i)

In [ ]:
# 입력데이터 인자를 변수명 처리 

sql = "INSERT INTO phonebook VALUES(:vName, :vPhone)"
cur.execute(sql,{'vPhone':'010-222-2222','vName':'Johnson'})

In [ ]:
# 여러 개의 데이터를 한번에 처리 : executemany()
datalist =(('jane','010-333-3333'),('paul','010-444-4444'),('chris','010-555-5555'))

cur.executemany("INSERT INTO phonebook Values(?,?)",datalist)

In [ ]:
# 작업한 내용을 script로 저장
f = open("data/dump.sql",'w')
for line in conn.iterdump():
    #print(line)
    f.write("{}\n".format(line))
    
f.close()
conn.close()

In [ ]:
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

# 스크립트 불러오기 
f=open("data/dump.sql")
script = f.read()
#print(script)

cur.executescript(script)

cur.execute("Select *from phonebook")
for i in cur.fetchmany(5): 
    print(i)

f.close()
conn.close()

# 3. MongoDB와 연동
---
    pip install pymongo

In [6]:
#import pymongo
from pymongo import MongoClient

In [9]:
#conn= pymongo.MongoClient("127.0.0.1",27017)
#print(conn)
#conn.close()

#conn = MongoClient("127.0.0.1",27017)
conn = MongoClient("mongodb://127.0.0.1:27017")
print(conn)
conn.close()

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [11]:
#DB 연결
conn = MongoClient("127.0.0.1",27017)

#db= conn.testdb
#db= conn.testdb2
db= conn["testdb"]

print(db)

conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb')

In [13]:
# Collection과 연결

conn = MongoClient("mongodb://127.0.0.1:27017")
db= conn["testdb"]
#coll = db.articles
#coll = db["articles"]
coll = db.get_collection("articles")


print(coll)

conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb'), 'articles')

In [20]:
# 데이터 한 개 입력
conn = MongoClient("mongodb://127.0.0.1:27017")
db= conn["testdb"]
coll = db.people

print(coll.count())

#data ={"author":"Mike","text":"my first blog post!","tag":["mongodb","python"]}
#coll.insert_one(data)

data ={"author":"Mike","text":"my second blog post!","tag":["mongodb","python"]}
post_id =coll.insert_one(data).inserted_id

print(post_id)

conn.close()

6
5ed0bd90cacc8ce7a6e13b95

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

In [23]:
# 데이터 여러 개 입력 

conn = MongoClient("mongodb://127.0.0.1:27017")
db= conn["testdb"]
coll = db.people

print(coll.count())

coll.insert_many([{"number":i} for i in range(10)])

#data=[]
#for i in range(10):
#    temp = {"number":i}
#    data.append(temp)
#coll.insert_many(data)

print(coll.count())
conn.close()

17
27

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  import sys
C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

In [30]:
#조회
conn = MongoClient("mongodb://127.0.0.1:27017")
db= conn["testdb"]
coll = db.people

#for i in coll.find():
#    print(i)

#age가 20인 document 조회
for i in coll.find({"age":20}):
    print(i)
#age가 20이상인 document 조회
for i in coll.find({"age":{"$gte":20}}):
    print(i)

print(coll.find_one({"author":"Mike"}))
    
    
conn.close()

{'_id': ObjectId('5ed0a54980b73231139478bf'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('5ed0a54980b73231139478bf'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('5ed0a54980b73231139478c0'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'python']}
{'_id': ObjectId('5ed0a54980b73231139478c1'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('5ed0bd1bcacc8ce7a6e13b93'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

In [45]:
# 데이터 수정
conn = MongoClient("mongodb://127.0.0.1:27017")
db= conn["testdb"]
coll = db.people

coll.update_one({"author":"Mike"},{"$set":{"text":"my third blog post!!!!!"}})

print(coll.find_one({"author":"Mike"}))



conn.close()

{'_id': ObjectId('5ed0bd1bcacc8ce7a6e13b93'), 'author': 'Mike', 'text': 'my third blog post!!!!!', 'tag': ['mongodb', 'python'], 'test': 'my third blog post!!!!!'}